@font-face {
    font-family: "Tilt Neon";
    font-size: x-large;
    font-style: normal;
    src: url(Assets/TiltNeon-Regular-VariableFont_XROT,YROT.ttf);
}

@font-face {
    font-family: "Noto Sans JP" ;
    font-size: medium;
    font-style: normal;
    src: url(Assets/NotoSansJP-VariableFont_wght.ttf) format(ttf);
}

.html {
    background-color: rgb(131, 198, 198);
}

.kicker {
    font-family: "Tilt Neon";
    display: block;
    margin: 0.5rem;
}

.bold-text {
    font-family: "Noto Sans JP" ;
    display: block;
    margin: 0.5rem;

}