@font-face {
    font-family: "Tilt Neon";
    src: url(Assets/TiltNeon-Regular-VariableFont_XROT,YROT.ttf);

@font-face {
    font-family: ;
    src: url();
}    
}
h1 {
    font-family: 'Tilt Neon', sans-serif;    
}

.address {
    font-family: ;
}